<div class="wrap">
    <div class="pb-16 pt-16" style="border-bottom: 1px solid rgba(131, 131, 131, 0.2); border-top: 1px solid rgba(131, 131, 131, 0.2)">
        <div class="flex h-96 w-full justify-center px-10">
            <div class="w-1/2">
                <img class="h-full" src="../../../../assets/images/home/detail.png" alt="" />
            </div>
            <div class="w-1/2">
                <h2 class="mb-5 mt-14 text-3xl font-semibold" style="font-family: rv-font2, Arial, Helvetica, sans-serif; color: #30333a"
                    >Authentic real estate right at your fingertips</h2
                >
                <p class="font-lg mb-1">Install the Rever app on your mobile device to fully experience:</p>
                <ul class="mb-6 pl-8">
                    <li class="mb-1 list-disc">Find real estate for sale and rent quickly with peace of mind</li>
                    <li class="mb-1 list-disc">See full information on all featured projects</li>
                    <li class="mb-1 list-disc">Update the latest news about the market</li>
                </ul>
                <div class="flex gap-3">
                    <a target="_blank" href="https://www.apple.com/app-store/" class="h-10 w-36 max-w-36">
                        <img src="../../../../assets/images/home/appstore-btn-v2.jpg" alt="appstore" />
                    </a>
                    <a target="_blank" href="https://play.google.com/store/" class="h-10 w-36 max-w-36">
                        <img src="../../../../assets/images/home/appandroid-btn-v2.jpg" alt="google play" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
