<header class="mx-auto bg-white py-5" style="width: 1843px; max-width: calc(100% - 30px); border-bottom: 1px solid rgba(48, 51, 58, 0.1)">
    <nav class="flex">
        <a href="#!"><img class="w-20 object-contain" src="../../../assets/images/logo.png" alt="GoGi" /></a>
        <div class="ml-auto flex items-center">
            <ul class="flex">
                <li><a href="#!" class="px-4 py-6 text-sm" style="color: #444c59">Condos</a></li>
                <li><a href="#!" class="px-4 py-6 text-sm" style="color: #444c59">Project</a></li>
                <li><a href="#!" class="px-4 py-6 text-sm" style="color: #444c59">About</a></li>
            </ul>
            <div><a href="#!" class="px-4 py-6 text-sm" style="color: #444c59">Login</a></div>
        </div>
    </nav>
</header>
