<div class="relative w-full bg-cover bg-center" style="background-image: url('../../../assets/images/home/home-rever01.jpg'); height: 600px">
    <div class="absolute left-0 top-0 flex h-full w-full items-center" style="background: rgba(0, 0, 0, 0.2)">
        <div class="mx-auto w-2/5">
            <h2 class="mb-5 text-center text-5xl font-light text-white" style="font-family: Helvetica, Arial, sans-serif">Search for your favorite home</h2>
            <app-home-search-filter></app-home-search-filter>
        </div>
    </div>
</div>

<app-home-about></app-home-about>
<app-home-project></app-home-project>
<app-home-estate-rent></app-home-estate-rent>
<app-home-estate-sale></app-home-estate-sale>
