<div class="wrap">
    <!-- 1 -->
    <div class="mb-10 pb-14 pt-16" style="border-bottom: 1px solid rgba(131, 131, 131, 0.2)">
        <div class="flex" style="gap: 68px">
            <div class="flex flex-col items-center gap-4">
                <div class="mx-16">
                    <img src="../../../../assets/images/about/icon-verify-listing.svg" alt="" />
                </div>
                <p class="text-center text-lg font-semibold">Commitment to authenticity</p>
            </div>

            <!-- 2 -->
            <div class="flex flex-col items-center gap-4">
                <div class="mx-16">
                    <img src="../../../../assets/images/about/icon-many-listing.svg" alt="" />
                </div>
                <p class="text-center text-lg font-semibold">Leading the quantity</p>
            </div>

            <!-- 3 -->
            <div class="flex flex-col items-center gap-4">
                <div class="mx-16">
                    <img src="../../../../assets/images/about/icon-save-money.svg" alt="" />
                </div>
                <p class="text-center text-lg font-semibold">Full support, low cost</p>
            </div>

            <!-- 4 -->
            <div class="flex flex-col items-center gap-4">
                <div class="mx-16">
                    <img src="../../../../assets/images/about/icon-save-money-star.svg" alt="" />
                </div>
                <p class="text-center text-lg font-semibold">Receive many incentives</p>
            </div>
        </div>
        <div class="mt-11 text-center">
            <app-button></app-button>
        </div>
    </div>
</div>
