<form class="flex h-14 w-full items-center gap-4 bg-white">
    <div class="flex h-full items-center">
        <select name="" id="" class="ml-8 block h-full w-36 cursor-pointer outline-none">
            <option value="" class="text-center">Buy</option>
            <option value="" class="text-center">Rent</option>
        </select>
    </div>
    <div class="flex w-full items-center gap-3 text-lg" style="color: #999">
        <button><i class="pi pi-search" style="font-size: 22px"></i></button>
        <input class="w-5/6 border-0 outline-none" type="text" placeholder="Search locations, buildings..." autocomplete="off" />
    </div>
</form>
