<div class="wrap">
    <div class="-mx-6 rounded-xl p-6" style="background-color: #f3f4f7">
        <h2 class="mb-8 text-3xl font-bold" style="font-family: rv-font2; color: rgb(68, 76, 89)">Latest real estate for sale</h2>
        <div class="swiper-slider relative">
            <div class="overflow-hidden">
                <swiper-container class="swiper-rent" init="false">
                    <!-- 1 -->
                    <swiper-slide class="h-full">
                        <article>
                            <a href="#!" class="block w-full">
                                <img class="h-60 w-full rounded-t-lg object-cover" src="../../../../assets/images/rent/rent-1.jpg" alt="" />
                            </a>
                            <div class="rounded-b-lg bg-white p-4" style="border: solid 1px rgba(151, 151, 151, 0.25)">
                                <div class="flex justify-between">
                                    <div class="flex items-center gap-2">
                                        <a href="" class="text-lg font-semibold" style="color: 30333a; font-family: rv-font2">
                                            <span class="hover:text-red-400">2.5 billion VND</span>
                                        </a>
                                        <div
                                            class="flex h-5 items-center text-sm"
                                            style="
                                                border-image: url('../../../../assets/images/rent/border-price-discount.svg') 2 3 / 2px 3px 2px 3px / 0 2px stretch;
                                                color: #c72528;
                                            ">
                                            <span class="block p-1">-16%</span>
                                        </div>
                                    </div>
                                    <ul class="flex gap-4">
                                        <li class="flex items-center gap-2 text-sm" style="color: #838383">
                                            <i class="zmdi zmdi-airline-seat-individual-suite" style="font-size: 18px; color: #30333a"></i>
                                            <span>2</span>
                                        </li>
                                        <li class="flex items-center gap-2 text-sm" style="color: #838383">
                                            <i class="zmdi zmdi-photo-size-select-small" style="font-size: 18px; color: #30333a"></i>
                                            <span>69.3 m²</span>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="mt-2 line-clamp-1 text-sm" style="font-family: rv-font1; color: #30333a">
                                    <a href="#!" class="hover:text-red-400">Vinhomes Grand Park apartment is carefully designed and fully equipped.</a>
                                </h3>
                                <h4 class="mt-2 line-clamp-1 text-sm" style="font-family: rv-font1; color: #838383">
                                    <a href="#!" class="hover:text-red-400">A0982322 • Nguyen Xien, Long Thanh My, District 9</a>
                                </h4>
                            </div>
                        </article>
                    </swiper-slide>

                    <!-- 2 -->
                    <swiper-slide class="h-full">
                        <article>
                            <a href="#!" class="block w-full">
                                <img class="h-60 w-full rounded-t-lg object-cover" src="../../../../assets/images/rent/rent-2.jpg" alt="" />
                            </a>
                            <div class="rounded-b-lg bg-white p-4" style="border: solid 1px rgba(151, 151, 151, 0.25)">
                                <div class="flex justify-between">
                                    <div class="flex items-center gap-2">
                                        <a href="" class="text-lg font-semibold" style="color: 30333a; font-family: rv-font2">
                                            <span class="hover:text-red-400">4.15 billion VND</span>
                                        </a>
                                        <div
                                            class="flex h-5 items-center text-sm"
                                            style="
                                                border-image: url('../../../../assets/images/rent/border-price-discount.svg') 2 3 / 2px 3px 2px 3px / 0 2px stretch;
                                                color: #c72528;
                                            ">
                                            <span class="block p-1">-6%</span>
                                        </div>
                                    </div>
                                    <ul class="flex gap-4">
                                        <li class="flex items-center gap-2 text-sm" style="color: #838383">
                                            <i class="zmdi zmdi-airline-seat-individual-suite" style="font-size: 18px; color: #30333a"></i>
                                            <span>1</span>
                                        </li>
                                        <li class="flex items-center gap-2 text-sm" style="color: #838383">
                                            <i class="zmdi zmdi-photo-size-select-small" style="font-size: 18px; color: #30333a"></i>
                                            <span> 51.2 m²</span>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="mt-2 line-clamp-1 text-sm" style="font-family: rv-font1; color: #30333a">
                                    <a href="#!" class="hover:text-red-400">Vinhomes Central Park apartment fully furnished, area 51.2m²</a>
                                </h3>
                                <h4 class="mt-2 line-clamp-1 text-sm" style="font-family: rv-font1; color: #838383">
                                    <a href="#!" class="hover:text-red-400">ABT143672 • 208 Nguyen Huu Canh, Ward 22, Binh Thanh</a>
                                </h4>
                            </div>
                        </article>
                    </swiper-slide>

                    <!-- 3 -->
                    <swiper-slide class="h-full">
                        <article>
                            <a href="#!" class="block w-full">
                                <img class="h-60 w-full rounded-t-lg object-cover" src="../../../../assets/images/rent/rent-3.jpg" alt="" />
                            </a>
                            <div class="rounded-b-lg bg-white p-4" style="border: solid 1px rgba(151, 151, 151, 0.25)">
                                <div class="flex justify-between">
                                    <div class="flex items-center gap-2">
                                        <a href="" class="text-lg font-semibold" style="color: 30333a; font-family: rv-font2">
                                            <span class="hover:text-red-400">28 billion VND</span>
                                        </a>
                                        <div class="flex h-5 items-center text-sm" style="color: #c72528"> </div>
                                    </div>
                                    <ul class="flex gap-4">
                                        <li class="flex items-center gap-2 text-sm" style="color: #838383">
                                            <i class="zmdi zmdi-airline-seat-individual-suite" style="font-size: 18px; color: #30333a"></i>
                                            <span>4</span>
                                        </li>
                                        <li class="flex items-center gap-2 text-sm" style="color: #838383">
                                            <i class="zmdi zmdi-photo-size-select-small" style="font-size: 18px; color: #30333a"></i>
                                            <span>172 m²</span>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="mt-2 line-clamp-1 text-sm" style="font-family: rv-font1; color: #30333a">
                                    <a href="#!" class="hover:text-red-400">Landmark 81 4-bedroom apartment with direct river view</a>
                                </h3>
                                <h4 class="mt-2 line-clamp-1 text-sm" style="font-family: rv-font1; color: #838383">
                                    <a href="#!" class="hover:text-red-400">ABT145851 • 208 Nguyen Huu Canh, Ward 22, Binh Thanh</a>
                                </h4>
                            </div>
                        </article>
                    </swiper-slide>

                    <!-- 4 -->
                    <swiper-slide class="h-full">
                        <article>
                            <a href="#!" class="block w-full">
                                <img class="h-60 w-full rounded-t-lg object-cover" src="../../../../assets/images/rent/rent-4.jpg" alt="" />
                            </a>
                            <div class="rounded-b-lg bg-white p-4" style="border: solid 1px rgba(151, 151, 151, 0.25)">
                                <div class="flex justify-between">
                                    <div class="flex items-center gap-2">
                                        <a href="" class="text-lg font-semibold" style="color: 30333a; font-family: rv-font2">
                                            <span class="hover:text-red-400">20 billion VND</span>
                                        </a>
                                        <div class="flex h-5 items-center text-sm" style="color: #c72528"> </div>
                                    </div>
                                    <ul class="flex gap-4">
                                        <li class="flex items-center gap-2 text-sm" style="color: #838383">
                                            <i class="zmdi zmdi-airline-seat-individual-suite" style="font-size: 18px; color: #30333a"></i>
                                            <span>3</span>
                                        </li>
                                        <li class="flex items-center gap-2 text-sm" style="color: #838383">
                                            <i class="zmdi zmdi-photo-size-select-small" style="font-size: 18px; color: #30333a"></i>
                                            <span>130 m²</span>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="mt-2 line-clamp-1 text-sm" style="font-family: rv-font1; color: #30333a">
                                    <a href="#!" class="hover:text-red-400">Sunwah Pearl apartment fully furnished, area 130m²</a>
                                </h3>
                                <h4 class="mt-2 line-clamp-1 text-sm" style="font-family: rv-font1; color: #838383">
                                    <a href="#!" class="hover:text-red-400">ABT146305 • Nguyen Huu Canh, Ward 22, Binh Thanh</a>
                                </h4>
                            </div>
                        </article>
                    </swiper-slide>

                    <!-- 5 -->
                    <swiper-slide class="h-full">
                        <article>
                            <a href="#!" class="block w-full">
                                <img class="h-60 w-full rounded-t-lg object-cover" src="../../../../assets/images/rent/rent-5.jpg" alt="" />
                            </a>
                            <div class="rounded-b-lg bg-white p-4" style="border: solid 1px rgba(151, 151, 151, 0.25)">
                                <div class="flex justify-between">
                                    <div class="flex items-center gap-2">
                                        <a href="" class="text-lg font-semibold" style="color: 30333a; font-family: rv-font2">
                                            <span class="hover:text-red-400">7 billion VND</span>
                                        </a>
                                        <div class="flex h-5 items-center text-sm" style="color: #c72528"> </div>
                                    </div>
                                    <ul class="flex gap-4">
                                        <li class="flex items-center gap-2 text-sm" style="color: #838383">
                                            <i class="zmdi zmdi-airline-seat-individual-suite" style="font-size: 18px; color: #30333a"></i>
                                            <span>3</span>
                                        </li>
                                        <li class="flex items-center gap-2 text-sm" style="color: #838383">
                                            <i class="zmdi zmdi-photo-size-select-small" style="font-size: 18px; color: #30333a"></i>
                                            <span>76.5 m²</span>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="mt-2 line-clamp-1 text-sm" style="font-family: rv-font1; color: #30333a">
                                    <a href="#!" class="hover:text-red-400">Townhouse on Le Van Quoi Street, 4 floors, area 76.5m², facing east, legal pink book</a>
                                </h3>
                                <h4 class="mt-2 line-clamp-1 text-sm" style="font-family: rv-font1; color: #838383">
                                    <a href="#!" class="hover:text-red-400">TTA187357 • 145 Le Van Quoi, Binh Tri Dong A, Average front</a>
                                </h4>
                            </div>
                        </article>
                    </swiper-slide>

                    <!-- 6 -->
                    <swiper-slide class="h-full">
                        <article>
                            <a href="#!" class="block w-full">
                                <img class="h-60 w-full rounded-t-lg object-cover" src="../../../../assets/images/rent/rent-6.jpg" alt="" />
                            </a>
                            <div class="rounded-b-lg bg-white p-4" style="border: solid 1px rgba(151, 151, 151, 0.25)">
                                <div class="flex justify-between">
                                    <div class="flex items-center gap-2">
                                        <a href="" class="text-lg font-semibold" style="color: 30333a; font-family: rv-font2">
                                            <span class="hover:text-red-400">27 billion VND</span>
                                        </a>
                                        <div class="flex h-5 items-center text-sm" style="color: #c72528"> </div>
                                    </div>
                                    <ul class="flex gap-4">
                                        <li class="flex items-center gap-2 text-sm" style="color: #838383">
                                            <i class="zmdi zmdi-airline-seat-individual-suite" style="font-size: 18px; color: #30333a"></i>
                                            <span>5</span>
                                        </li>
                                        <li class="flex items-center gap-2 text-sm" style="color: #838383">
                                            <i class="zmdi zmdi-photo-size-select-small" style="font-size: 18px; color: #30333a"></i>
                                            <span>239 m²</span>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="mt-2 line-clamp-1 text-sm" style="font-family: rv-font1; color: #30333a">
                                    <a href="#!" class="hover:text-red-400">Feliz en Vista Sky Mansion Apartment 5 Bedrooms Directly facing the Saigon River</a>
                                </h3>
                                <h4 class="mt-2 line-clamp-1 text-sm" style="font-family: rv-font1; color: #838383">
                                    <a href="#!" class="hover:text-red-400">A02190900 • Dong Van Cong, Thanh My Loi, District 2</a>
                                </h4>
                            </div>
                        </article>
                    </swiper-slide>

                    <!-- 7 -->
                    <swiper-slide class="h-full">
                        <article>
                            <a href="#!" class="block w-full">
                                <img class="h-60 w-full rounded-t-lg object-cover" src="../../../../assets/images/rent/rent-7.jpg" alt="" />
                            </a>
                            <div class="rounded-b-lg bg-white p-4" style="border: solid 1px rgba(151, 151, 151, 0.25)">
                                <div class="flex justify-between">
                                    <div class="flex items-center gap-2">
                                        <a href="" class="text-lg font-semibold" style="color: 30333a; font-family: rv-font2">
                                            <span class="hover:text-red-400">19.7 billion VND</span>
                                        </a>
                                        <div
                                            class="flex h-5 items-center text-sm"
                                            style="
                                                border-image: url('../../../../assets/images/rent/border-price-discount.svg') 2 3 / 2px 3px 2px 3px / 0 2px stretch;
                                                color: #c72528;
                                            ">
                                            <span class="block p-1">-2%</span>
                                        </div>
                                    </div>
                                    <ul class="flex gap-4">
                                        <li class="flex items-center gap-2 text-sm" style="color: #838383">
                                            <i class="zmdi zmdi-airline-seat-individual-suite" style="font-size: 18px; color: #30333a"></i>
                                            <span>3</span>
                                        </li>
                                        <li class="flex items-center gap-2 text-sm" style="color: #838383">
                                            <i class="zmdi zmdi-photo-size-select-small" style="font-size: 18px; color: #30333a"></i>
                                            <span>139 m²</span>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="mt-2 line-clamp-1 text-sm" style="font-family: rv-font1; color: #30333a">
                                    <a href="#!" class="hover:text-red-400">Sunwah Pearl apartment with basic furniture, area 139m²</a>
                                </h3>
                                <h4 class="mt-2 line-clamp-1 text-sm" style="font-family: rv-font1; color: #838383">
                                    <a href="#!" class="hover:text-red-400">ABT146564 • Nguyen Huu Canh, Ward 22, Binh Thanh</a>
                                </h4>
                            </div>
                        </article>
                    </swiper-slide>

                    <!-- 8 -->
                    <swiper-slide class="h-full">
                        <article>
                            <a href="#!" class="block w-full">
                                <img class="h-60 w-full rounded-t-lg object-cover" src="../../../../assets/images/rent/rent-8.jpg" alt="" />
                            </a>
                            <div class="rounded-b-lg bg-white p-4" style="border: solid 1px rgba(151, 151, 151, 0.25)">
                                <div class="flex justify-between">
                                    <div class="flex items-center gap-2">
                                        <a href="" class="text-lg font-semibold" style="color: 30333a; font-family: rv-font2">
                                            <span class="hover:text-red-400">3.45 billion VND</span>
                                        </a>
                                        <div
                                            class="flex h-5 items-center text-sm"
                                            style="
                                                border-image: url('../../../../assets/images/rent/border-price-discount.svg') 2 3 / 2px 3px 2px 3px / 0 2px stretch;
                                                color: #c72528;
                                            ">
                                            <span class="block p-1">-16%</span>
                                        </div>
                                    </div>
                                    <ul class="flex gap-4">
                                        <li class="flex items-center gap-2 text-sm" style="color: #838383">
                                            <i class="zmdi zmdi-airline-seat-individual-suite" style="font-size: 18px; color: #30333a"></i>
                                            <span>3</span>
                                        </li>
                                        <li class="flex items-center gap-2 text-sm" style="color: #838383">
                                            <i class="zmdi zmdi-photo-size-select-small" style="font-size: 18px; color: #30333a"></i>
                                            <span>81.5 m²</span>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="mt-2 line-clamp-1 text-sm" style="font-family: rv-font1; color: #30333a">
                                    <a href="#!" class="hover:text-red-400">Vinhomes Grand Park apartment facing East, area 81.5m²</a>
                                </h3>
                                <h4 class="mt-2 line-clamp-1 text-sm" style="font-family: rv-font1; color: #838383">
                                    <a href="#!" class="hover:text-red-400">A09134387 • Nguyen Xien, Long Thanh My, District 9</a>
                                </h4>
                            </div>
                        </article>
                    </swiper-slide>

                    <!-- 9 -->
                    <swiper-slide class="h-full">
                        <article>
                            <a href="#!" class="block w-full">
                                <img class="h-60 w-full rounded-t-lg object-cover" src="../../../../assets/images/rent/rent-9.jpg" alt="" />
                            </a>
                            <div class="rounded-b-lg bg-white p-4" style="border: solid 1px rgba(151, 151, 151, 0.25)">
                                <div class="flex justify-between">
                                    <div class="flex items-center gap-2">
                                        <a href="" class="text-lg font-semibold" style="color: 30333a; font-family: rv-font2">
                                            <span class="hover:text-red-400">14.1 billion VND</span>
                                        </a>
                                        <div class="flex h-5 items-center text-sm" style="color: #c72528"> </div>
                                    </div>
                                    <ul class="flex gap-4">
                                        <li class="flex items-center gap-2 text-sm" style="color: #838383">
                                            <i class="zmdi zmdi-airline-seat-individual-suite" style="font-size: 18px; color: #30333a"></i>
                                            <span>2</span>
                                        </li>
                                        <li class="flex items-center gap-2 text-sm" style="color: #838383">
                                            <i class="zmdi zmdi-photo-size-select-small" style="font-size: 18px; color: #30333a"></i>
                                            <span>100.8 m²</span>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="mt-2 line-clamp-1 text-sm" style="font-family: rv-font1; color: #30333a">
                                    <a href="#!" class="hover:text-red-400"
                                        >2-BR CORNER APARTMENT 100.80M2 THE CREST METROPOLE only 14 billionxx INCLUDED BEST PRICE ON THE MARKET</a
                                    >
                                </h3>
                                <h4 class="mt-2 line-clamp-1 text-sm" style="font-family: rv-font1; color: #838383">
                                    <a href="#!" class="hover:text-red-400">A02186612 • Road R2, An Khanh, District 2</a>
                                </h4>
                            </div>
                        </article>
                    </swiper-slide>

                    <!-- 10 -->
                    <swiper-slide class="h-full">
                        <article>
                            <a href="#!" class="block w-full">
                                <img class="h-60 w-full rounded-t-lg object-cover" src="../../../../assets/images/rent/rent-10.jpg" alt="" />
                            </a>
                            <div class="rounded-b-lg bg-white p-4" style="border: solid 1px rgba(151, 151, 151, 0.25)">
                                <div class="flex justify-between">
                                    <div class="flex items-center gap-2">
                                        <a href="" class="text-lg font-semibold" style="color: 30333a; font-family: rv-font2">
                                            <span class="hover:text-red-400">12.5 billion VND</span>
                                        </a>
                                        <div class="flex h-5 items-center text-sm" style="color: #c72528"> </div>
                                    </div>
                                    <ul class="flex gap-4">
                                        <li class="flex items-center gap-2 text-sm" style="color: #838383">
                                            <i class="zmdi zmdi-airline-seat-individual-suite" style="font-size: 18px; color: #30333a"></i>
                                            <span>3</span>
                                        </li>
                                        <li class="flex items-center gap-2 text-sm" style="color: #838383">
                                            <i class="zmdi zmdi-photo-size-select-small" style="font-size: 18px; color: #30333a"></i>
                                            <span>96 m²</span>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="mt-2 line-clamp-1 text-sm" style="font-family: rv-font1; color: #30333a">
                                    <a href="#!" class="hover:text-red-400">Lumiere Riverside apartment 3 bedrooms river view, area 96m².</a>
                                </h3>
                                <h4 class="mt-2 line-clamp-1 text-sm" style="font-family: rv-font1; color: #838383">
                                    <a href="#!" class="hover:text-red-400">A02198321 • 259 Hanoi Highway, An Phu, District 2</a>
                                </h4>
                            </div>
                        </article>
                    </swiper-slide>
                </swiper-container>
            </div>

            <div class="swiper-button-next-rent">
                <app-btn-next-swiper></app-btn-next-swiper>
            </div>
            <div class="swiper-button-prev-rent">
                <app-btn-prev-swiper></app-btn-prev-swiper>
            </div>
        </div>
    </div>
</div>
