<div style="background: #111">
    <div class="wrap">
        <footer class="flex items-center justify-between pb-10 pt-10 text-xs text-white">
            <div class="flex gap-2">
                <i class="pi pi-phone" style="font-size: 14px"></i>
                <div>
                    <span class="block">Hotline (24/7)</span>
                    <a href="tel: 0974 131 292" class="mt-1 block text-base font-semibold" style="color: #00a6bd">0974 131 292</a>
                </div>
            </div>
            <!-- 2 -->
            <div class="flex gap-2">
                <i class="pi pi-phone" style="font-size: 14px"></i>
                <div>
                    <span class="block text-xs text-white">Khiếu nại, phản hồi</span>
                    <a href="tel: 0974 131 292" class="mt-1 block text-base font-semibold" style="color: #00a6bd">0974 131 292</a>
                </div>
            </div>
            <!-- 3 -->
            <div class="flex gap-2">
                <i class="pi pi-send" style="font-size: 14px"></i>
                <div>
                    <span class="block text-xs text-white">Hợp tác với T-House</span>
                    <a href="mailto: hoptac.THouse@gmail.com" class="mt-1 block text-base font-semibold">hoptac.THouse</a>
                </div>
            </div>
            <!-- 4 -->
            <div class="flex gap-2">
                <i class="pi pi-send" style="font-size: 14px"></i>
                <div>
                    <span class="block text-xs text-white">Bộ phận kinh doanh</span>
                    <a href="mailto: kinhdoanh.THouse@gmail.com" class="mt-1 block text-base font-semibold">kinhdoanh.THouse</a>
                </div>
            </div>
            <!-- 5 -->
            <div class="flex gap-2">
                <i class="pi pi-send" style="font-size: 14px"></i>
                <div>
                    <span class="block text-xs text-white">Chăm sóc khách hàng</span>
                    <a href="mailto: cskh.THouse@gmail.com" class="mt-1 block text-base font-semibold">cskh.THouse</a>
                </div>
            </div>
        </footer>
    </div>
</div>
