<div style="background: rgb(0, 1, 17)">
    <footer class="wrap">
        <div class="flex items-center justify-between py-8 text-xs text-white">
            <div class="flex gap-2" style="width: calc(20% - 8px)">
                <i class="zmdi zmdi-phone" style="font-size: 20px"></i>
                <div>
                    <span>Free hotline (24/7)</span>
                    <a href="tel: 1800 234 546" class="mt-1 block text-base font-semibold" style="color: #00a6bd">1800 234 546</a>
                </div>
            </div>
            <!-- 2 -->
            <div class="flex gap-2" style="width: calc(20% - 8px)">
                <i class="zmdi zmdi-phone" style="font-size: 20px"></i>
                <div>
                    <span class="block text-xs text-white">Complaints, feedback (free)</span>
                    <a href="tel: 1800 234 560" class="mt-1 block text-base font-semibold" style="color: #00a6bd">1800 234 560</a>
                </div>
            </div>
            <!-- 3 -->
            <div class="flex gap-2" style="width: calc(20% - 8px)">
                <i class="zmdi zmdi-email-open" style="font-size: 20px"></i>
                <div>
                    <span class="block text-xs text-white">Bussiness Department</span>
                    <a href="mailto: Sales@sem3.vn" class="mt-1 block text-base font-semibold" style="color: #00a6bd">Sales.sem3.vn</a>
                </div>
            </div>
            <!-- 4 -->
            <div class="flex gap-2" style="width: calc(20% - 8px)">
                <i class="zmdi zmdi-email-open" style="font-size: 20px"></i>
                <div>
                    <span class="block text-xs text-white">Project Division</span>
                    <a href="mailto: Divison@sem3.vn" class="mt-1 block text-base font-semibold" style="color: #00a6bd">Divison.sem3.vn</a>
                </div>
            </div>
            <!-- 5 -->
            <div class="flex gap-2" style="width: calc(20% - 8px)">
                <i class="zmdi zmdi-email-open" style="font-size: 20px"></i>
                <div>
                    <span class="block text-xs text-white">Customer care</span>
                    <a href="mailto: Support@sem3.vn" class="mt-1 block text-base font-semibold" style="color: #00a6bd">Support.sem3.vn</a>
                </div>
            </div>
        </div>
        <div class="py-8" style="border-top: 1px solid rgba(255, 255, 255, 0.12); border-bottom: 1px solid rgba(255, 255, 255, 0.12)">
            <ul class="flex gap-5">
                <li style="width: calc(40% - 20px)">
                    <a routerLink="/" class="mb-5 block cursor-pointer">
                        <img class="h-6 w-32 object-contain" src="../../../assets/images/logo.png" alt="sem3" />
                    </a>
                    <p class="mb-3 text-xs font-semibold uppercase text-white">Sem3 TECHNOLOGY JOINT STOCK COMPANY</p>
                    <p class="mb-3 text-xs" style="color: rgba(255, 255, 255, 0.5)">
                        <i class="zmdi zmdi-home"></i>
                        Tax code: 0313817128 - Department of Planning and Investment of Ho Chi Minh City issued on May 20, 2016
                    </p>
                    <p class="mb-3 text-xs" style="color: rgba(255, 255, 255, 0.5)">
                        <i class="zmdi zmdi-pin-drop"></i>
                        No. 5-7, Street B4, An Loi Dong Ward, City. Thu Duc, City. Ho Chi Minh
                    </p>
                    <a href="tel: 028 6279 8686" class="footer-link mb-3 block text-xs">
                        <i class="zmdi zmdi-phone"></i>
                        028 6279 8686
                    </a>
                    <a href="mailto: support@sem3.vn" class="footer-link mb-3 block text-xs">
                        <i class="zmdi zmdi-email"></i>
                        support.sem3.vn
                    </a>
                    <a target="_blank" href="http://online.gov.vn/" class="block pt-3">
                        <img class="h-12 w-32" src="../../../assets/images/footer.png" alt="Sem3 Technology Joint Stock Company" />
                    </a>
                </li>

                <!-- 2 -->
                <li style="width: calc(15% - 20px)">
                    <span class="text-sm font-semibold text-white">COMPANY</span>
                    <ul>
                        <li class="mt-2">
                            <a href="#!" class="footer-text" title="About Sem3">About Sem3</a>
                        </li>
                        <li class="mt-1">
                            <a href="#!" class="footer-text" title="Recruitment">Recruitment</a>
                        </li>
                        <li class="mt-1">
                            <a href="#!" class="footer-text" title="Team">Team</a>
                        </li>
                        <li class="mt-1">
                            <a href="#!" class="footer-text" title="Contact">Contact</a>
                        </li>
                        <li class="mt-1">
                            <a href="#!" class="footer-text" title="Privacy Policy">Privacy Policy</a>
                        </li>
                        <li class="mt-1">
                            <a href="#!" class="footer-text" title="terms of use">terms of use</a>
                        </li>
                    </ul>
                </li>

                <!-- 3 -->
                <li style="width: calc(15% - 20px)">
                    <span class="text-sm font-semibold text-white">SERVICE</span>
                    <ul>
                        <li class="mt-2">
                            <a href="#!" class="footer-text" title="Real estate deposit">Real estate deposit</a>
                        </li>
                        <li class="mt-1">
                            <a href="#!" class="footer-text" title="Buy with Sem3">Buy with Sem3</a>
                        </li>
                        <li class="mt-1">
                            <a href="#!" class="footer-text" title="Rent with Sem3">Rent with Sem3</a>
                        </li>
                        <li class="mt-1">
                            <a href="#!" class="footer-text" title="Sem3 Academy">Sem3 Academy</a>
                        </li>
                        <li class="mt-1">
                            <a href="#!" class="footer-text" title="Sem3 Agents">Sem3 Agents</a>
                        </li>
                        <li class="mt-1">
                            <a href="#!" class="footer-text" title="Service process">Service process</a>
                        </li>
                    </ul>
                </li>

                <!-- 4 -->
                <li style="width: calc(15% - 20px)">
                    <span class="text-sm font-semibold text-white">INFORMATION</span>
                    <ul>
                        <li class="mt-2">
                            <a href="#!" class="footer-text" title="Market news">Market news</a>
                        </li>
                        <li class="mt-1">
                            <a href="#!" class="footer-text" title="Product updates">Product updates</a>
                        </li>
                        <li class="mt-1">
                            <a href="#!" class="footer-text" title="Knowledge for brokers">Knowledge for brokers</a>
                        </li>
                    </ul>
                </li>

                <!-- 5 -->
                <li>
                    <span class="text-sm font-semibold text-white">APPLICATION</span>
                    <ul>
                        <li class="mt-2">
                            <a target="_blank" href="https://www.apple.com/app-store/" class="footer-text" title="Sem3 on iOS">Sem3 on iOS</a>
                        </li>
                        <li class="mt-1">
                            <a target="_blank" href="https://play.google.com/store/" class="footer-text" title="Sem3 on Android">Sem3 on Android</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="flex justify-between py-8" style="color: rgba(255, 255, 255, 0.5)">
            <span class="text-xs">Copyright © 2024 - Sem3. All Rights Reserved.</span>
            <div class="flex gap-3">
                <a target="_blank" href="https://www.facebook.com/" class="zmdi zmdi-facebook font-lg m-1 hover:text-white"></a>
                <a target="_blank" href="https://twitter.com/home" class="zmdi zmdi-twitter font-lg m-1 hover:text-white"></a>
                <a target="_blank" href="https://www.linkedin.com/" class="zmdi zmdi-linkedin-box font-lg m-1 hover:text-white"></a>
                <a target="_blank" href="https://www.instagram.com/" class="zmdi zmdi-instagram font-lg m-1 hover:text-white"></a>
                <a target="_blank" href="https://www.youtube.com/" class="zmdi zmdi-youtube-play font-lg m-1 hover:text-white"></a>
            </div>
        </div>
    </footer>
</div>
