<!-- banner -->
<div class="w-full py-36 relative bg-no-repeat bg-cover" style="background-image: url('../../../assets/images/about/banner.jpg'); ">
  <div class="wrap text-white z-20">
    <h1 class="text-center text-5xl font-medium pb-8" style="font-family:Tiempos, Arial, Helvetica, sans-serif;">Build standards, build trust</h1>
    <p class="text-center mx-auto text-xl" style="max-width: 58%; color: rgba(255, 255, 255, .86);">Pursuing the goal of being Asia's leading Professional Real Estate Brokerage Brand, Sem3 sets out the mission of enforcing the highest standards to provide the best benefits and experiences to customers based on technology.</p>
  </div>
</div>

<!-- about -->
<section style="background-color: #f4f5f9;">
  <div class="wrap">
    <div class="py-20">
      <app-about-component></app-about-component>
    </div>
  </div>
</section>

<!-- 1 -->
<section class="wrap">
  <div class="flex py-16 gap-14 items-center">
    <div class="w-1/2" style="font-family: harmonia, Arial, Helvetica, sans-serif; color: #444c59;">
      <h2 class="text-4xl font-medium mb-5" style="font-family: Tiempos, Verdana, Geneva, sans-serif;">100% real estate authenticity</h2>
      <p>Understanding the market demand for transparent real estate information, the Rever platform provides authentic real estate with 4 values:</p>
      <ul class="mt-3">
        <li class="flex items-center gap-3">
          <img src="../../../assets/images/about/check-icon.svg" alt="Real existence">
          Real existence
        </li>

        <li class="flex items-center gap-3 mt-2">
          <img src="../../../assets/images/about/check-icon.svg" alt="Realistic images">
          Realistic images
        </li>

        <li class="flex items-center gap-3 mt-2">
          <img src="../../../assets/images/about/check-icon.svg" alt="Right market price">
          Right market price
        </li>

        <li class="flex items-center gap-3 mt-2">
          <img src="../../../assets/images/about/check-icon.svg" alt="Ready to trade.">
          Ready to trade.
        </li>
      </ul>
      <p class="mt-4">From here, you can put your full trust. Your job is to find a home according to your needs, experience Rever's consulting service. The time to search for your favorite home is completely shortened.</p>
      <div class="mt-8">
        <app-btn-about></app-btn-about>
      </div>
    </div>
    <div class="w-1/2">
      <img src="../../../assets/images/about/bat-dong-san-xac-thuc.png" alt="100% real estate authenticity">
    </div>
  </div>
</section>

<!-- 2 -->
<section style="background-color: #f4f5f9;">
  <div class="wrap">
    <div class="py-20 flex items-center" style="font-family: harmonia, Arial, Helvetica, sans-serif;">
      <div class="w-1/2">
        <img src="../../../assets/images/about/dan-dau-ve-so-luong.jpg" alt="Leading in numbers">
      </div>
      <div class="w-1/2 mx-10 pl-7">
        <h2 class="text-4xl font-medium mb-5" style="font-family: Tiempos, Verdana, Geneva, sans-serif;">Leading in numbers</h2>
        <p style="color: #444c59;">With an automatic data screening system, Sem3 platform has nearly 60,000 prestigious apartments & projects in Ho Chi Minh City & nearby, from mid to high-end segments. Key projects and good price apartments are constantly updated with real information & photos from reputable investors. You are assured of the most diverse and suitable options.</p>
        <div class="flex gap-3 mt-8">
          <button class="px-5 text-lg text-white bg-red-600 hover:bg-red-500" style="min-width: 200px; height: 50px;">Buy with Sem3</button>
          <button class="px-5 text-lg text-white bg-red-600 hover:bg-red-500" style="min-width: 200px; height: 50px;">Rent with Sem3</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 3 -->
<section class="wrap">
  <div class="py-20 flex items-center gap-20" style="font-family: harmonia, Arial, Helvetica, sans-serif;">
    <div>
      <h2 class="text-4xl font-medium mb-5" style="font-family: Tiempos, Verdana, Geneva, sans-serif;">Full support, low cost</h2>
      <p style="color: #444c59;">As a real estate consultant who always accompanies you, Rever experts are well-trained & knowledgeable, always support you throughout the process of buying/selling (paperwork, legal, bank loan...) to help you save significant costs, effort and time.</p>
      <div class="mt-8">
        <button class="px-5 text-lg text-white bg-red-600 hover:bg-red-500" style="min-width: 200px; height: 50px;">Sell & Rent with Sem3</button>
      </div>
    </div>
    <div>
      <img src="../../../assets/images/about/tron-ho-tro-chi-phi-thap.png" alt="Full support, low cost">
    </div>
  </div>
</section>

<!-- 4 -->
<section style="background-color: #f4f5f9;">
  <div class="wrap">
    <div class="py-20 flex items-center" style="font-family: harmonia, Arial, Helvetica, sans-serif;">
      <div class="w-1/2">
        <img src="../../../assets/images/about/gan-ket-dai-lau.png" alt="Leading in numbers">
      </div>
      <div class="w-1/2 mx-10 pl-7">
        <h2 class="text-4xl font-medium mb-5" style="font-family: Tiempos, Verdana, Geneva, sans-serif;">Long-term engagement, thousands of incentives</h2>
        <p style="color: #444c59;">Sem3 cherishes each client who cares about real estate. Regardless of whether you have a transaction at Sem3's Club or not, with the Sem3's Club loyalty program, we always offer our members preferential packages from affiliate partners and special customer service.</p>
        <div class="mt-8">
          <app-btn-about></app-btn-about>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 5 -->
<section class="wrap">
  <div class="py-20" style="font-family: harmonia, Arial, Helvetica, sans-serif;">
      <h2 class="text-3xl font-medium mb-5 text-center" style="font-family: Tiempos, Verdana, Geneva, sans-serif;">Accurate, constantly updated information</h2>
      <p class="mx-auto text-center" style="max-width: 750px; color: #444c59;">Real estate information is verified and constantly updated according to market fluctuations thanks to the close link between Rever and landlords. Property metrics and status are clearly visible to both homeowners and potential buyers. In addition, data analysis technology will provide other useful references based on statistics from the general market.</p>
  </div>
</section>

<!-- caurosel 1 -->
<section>
  <!-- swiper -->
  <swiper-container style="height: 693px;" pagination="true" loop="true" autoplay="true">

    <!-- 1 -->
    <swiper-slide class="relative"  data-swiper-autoplay="7000">
      <img class="w-full h-full object-cover" src="../../../assets/images/about/service-all-slider1.jpg" alt="Tìm kiếm nhà đất dễ dàng">
      <div class="py-12 px-8 bg-white absolute right-0 top-1/2 -translate-y-1/2" style="box-shadow: 0 2px 10px 0 rgba(0,0,0,.06); max-width: 420px;">
        <span class="bg-red-700 w-full mb-5 block " style="height: 2px; max-width: 60px;"></span>
        <h4 class="text-5xl mb-3 font-medium" style="color: #30333a;">Searching for real estate is easy</h4>
        <p class="text-2xl" style="max-width: 85%; color: #838383;;">Search and view the latest updated real estate listings for sale and rent by district, residential area or project name.</p>
      </div>
    </swiper-slide>

    <!-- 2 -->
    <swiper-slide class="relative"  data-swiper-autoplay="7000">
      <img class="w-full h-full object-cover" src="../../../assets/images/about/service-all-slider2.jpg" alt=">Good prices every day">
      <div class="py-12 px-8 bg-white absolute right-0 top-1/2 -translate-y-1/2" style="box-shadow: 0 2px 10px 0 rgba(0,0,0,.06); max-width: 420px;">
        <span class="bg-red-700 w-full mb-5 block " style="height: 2px; max-width: 60px;"></span>
        <h4 class="text-5xl mb-3 font-medium" style="color: #30333a;">Good prices every day</h4>
        <p class="text-2xl" style="max-width: 85%; color: #838383;;">You can always keep track of good prices or newly updated discounts from the landlord.</p>
      </div>
    </swiper-slide>

    <!-- 3 -->
    <swiper-slide class="relative"  data-swiper-autoplay="7000">
      <img class="w-full h-full object-cover" src="../../../assets/images/about/service-all-slider3.jpg" alt="Negotiate price, register to view the house">
      <div class="py-12 px-8 bg-white absolute right-0 top-1/2 -translate-y-1/2" style="box-shadow: 0 2px 10px 0 rgba(0,0,0,.06); max-width: 420px;">
        <span class="bg-red-700 w-full mb-5 block " style="height: 2px; max-width: 60px;"></span>
        <h4 class="text-5xl mb-3 font-medium" style="color: #30333a;">Negotiate price, register to view the house</h4>
        <p class="text-2xl" style="max-width: 85%; color: #838383;;">Sem3 connects you with the homeowner to help the negotiation and transaction process take place quickly and reliably.</p>
      </div>
    </swiper-slide>

    <!-- 4 -->
    <swiper-slide class="relative">
      <img class="w-full h-full object-cover" src="../../../assets/images/about/service-all-slider4.jpg" alt="Follow my real estate">
      <div class="py-12 px-8 bg-white absolute right-0 top-1/2 -translate-y-1/2" style="box-shadow: 0 2px 10px 0 rgba(0,0,0,.06); max-width: 420px;">
        <span class="bg-red-700 w-full mb-5 block " style="height: 2px; max-width: 60px;"></span>
        <h4 class="text-5xl mb-3 font-medium" style="color: #30333a;">Follow my real estate</h4>
        <p class="text-2xl" style="max-width: 85%; color: #838383;;">Công cụ dành cho chủ nhà giúp theo dõi tình trạng nhà đất đang đăng trên Sem3 mọi lúc mọi nơi.</p>
      </div>
    </swiper-slide>
  </swiper-container>
</section>

<!-- caurosel 2 -->
<section class="bg-red-700">
  <div class="wrap">
    <div class="py-16">
      <div class="mb-12 text-3xl font-medium text-center text-white" style="font-family: Tiempos, Verdana, Geneva, sans-serif;">
        What Customers Say
      </div>

      <!-- swiper -->
      <div class="relative">
        <swiper-container class="swiper-about" init="false">

          <!-- 1 -->
          <swiper-slide class="h-full text-white text-center">
            <p class="mx-auto" style="max-width: 730px;">"I didn't expect buying a project home to be so simple and easy, Sem3 provided me with almost all the information
              necessary news about the Empire City Thu Thiem project and guide me through all necessary procedures, I am very secure when doing
              with Sem3's broker, he is very dedicated, knows the market very well, professional style
              and very cute too."</p>
            <div class="mt-10">
              <div class="w-20 h-20 rounded-full bg-white mx-auto">
                <img class="w-full h-full rounded-full object-cover" src="../../../assets/images/avatar/trongkhoi.jpg" alt="">
              </div>
              <div class="mt-8">
                <p class="font-semibold">Phan Thanh Tam</p>
                <p>Software Engineer - FPT Software</p>
              </div>
            </div>
          </swiper-slide>

          <!-- 2 -->
          <swiper-slide class="h-full text-white text-center">
            <p class="mx-auto" style="max-width: 730px;">
              "Previously, I didn't have a good symbol for the real estate environment, because I went through a few times looking for a house and had to
              Working with them, I feel like I'm wasting time and encountering unnecessary distractions. But just now, the
              The expert from Rever has made me change that opinion, I have been enthusiastically shared with you
              The pros and cons of the house I want to rent, in addition, you also gave me tips for many other houses nearby
              With good prices, I am also very willing to help you calculate the cost and package the interior design for your home.
              I have designed a very beautiful apartment with a price that I think is quite reasonable. I will definitely recommend Rever to you
              my friend."
            </p>
            <div class="mt-10">
              <div class="w-20 h-20 rounded-full bg-white mx-auto">
                <img class="w-full h-full rounded-full object-cover" src="../../../assets/images/avatar/diemnhi.jpg" alt="">
              </div>
              <div class="mt-8">
                <p class="font-semibold">Ho Thi Duyen Trang</p>
                <p>Manager - Thien Hoa Group</p>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>

        <div class="swiper-button-next-about text-white absolute right-0 z-40 py-2 px-4" style="top: 60%">
          <i class="zmdi zmdi-chevron-right" style="font-size: 3rem"></i>
        </div>
        <div class="swiper-button-prev-about text-white absolute left-0 z-40 py-2 px-4" style="top: 60%">
          <i class="zmdi zmdi-chevron-left" style="font-size: 3rem"></i>
        </div>
      </div>
    </div>
  </div>
</section>
