swiper-container {
    height: 450px;
}

swiper-slide a:hover {
    opacity: 0.9;
}

.swiper-button-next-project.swiper-button-disabled,
.swiper-button-prev-project.swiper-button-disabled {
    display: none;
}
