swiper-container {
    width: 2088px;
    height: 450px;
}

swiper-slide {
    width: 300px !important;
}

swiper-slide a:hover {
    opacity: 0.9;
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
}

.carousel:hover .swiper-button-next:not(.swiper-button-disabled) {
  display: flex;
}

.carousel:hover .swiper-button-prev:not(.swiper-button-disabled) {
  display: flex;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    display: none;
}


