/* You can add global styles to this file, and also import other style files */

@layer tailwind-base, primeng, tailwind-utilities;
@import 'primeicons/primeicons.css';

@import '../node_modules/primeng/resources/themes/lara-light-blue/theme.css';
@import '../node_modules/primeng/resources/primeng.css';

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@import '../src/reset.css';

.p-breadcrumb {
    background: transparent;
    border: none;
    color: #999;
    font-size: 14px;
}


