/* You can add global styles to this file, and also import other style files */
* {
    font-family: rv-font1, Arial, Helvetica, sans-serif;
}

@layer tailwind-base, primeng, tailwind-utilities;

@import '../node_modules/primeng/resources/themes/lara-light-blue/theme.css';
@import '../node_modules/primeng/resources/primeng.css';

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@import '../src/assets/styles/reset.css';

.wrap {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 30px);
}

